---
- name: UFW - Allow common k8 connections
  community.general.ufw:
    rule: allow
    comment: "{{ item.name }}"
    proto: "{{ item.proto }}"
    to_port: "{{ item.port }}"
  with_items: "{{ ufw_rules }}"
