---
- name: Restart containerd
  ansible.builtin.systemd_service:
    name: containerd
    state: restarted

- name: Restart kubelet
  ansible.builtin.systemd_service:
    name: kubelet
    state: restarted

- name: Apply sysctl settings
  ansible.builtin.command: sysctl --system
  changed_when: true

- name: Load kernel modules
  ansible.builtin.command: modprobe {{ item }}
  loop:
    - overlay
    - br_netfilter
  changed_when: true
