---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  destination:
    namespace: prometheus
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 27.8.0
    chart: prometheus
    helm:
      values: |
        nodeExporter:
          enabled: false
        server:
          persistentVolume:
            enabled: true
            storageClass: "longhorn"
            size: 32Gi
            accessModes:
              - ReadWriteOnce
        extraScrapeConfigs: |
          - job_name: 'Proxmox-Curiosity'
            metrics_path: /pve
            params:
              module: [default]
            static_configs:
              - targets: ['curiosity.bou1der.net:9221']
          - job_name: 'node_exporter'
            static_configs:
              - targets: ['docker.bou1der.net:9100']
          - job_name: 'Sojourner'
            static_configs:
              - targets: ['ml01.bou1der.net:9202', 'ml01.bou1der.net:9100']
            metrics_path: /metrics
            params:
              module: [default]
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - Replace=true