---
- name: Verify
  hosts: all
  gather_facts: true
  tasks:
    - name: Verify PostgreSQL packages are installed
      ansible.builtin.package:
        name:
          - vim
          - zsh
          - qemu-guest-agent
          - postgresql
          - postgresql-contrib
        state: present
      check_mode: true
      register: package_check
      failed_when: package_check.changed

    - name: Check if PostgreSQL service is running
      ansible.builtin.systemd:
        name: postgresql
      register: postgres_service
      failed_when: postgres_service.status.ActiveState != 'active'

    - name: Verify PostgreSQL is listening on port 5432
      ansible.builtin.wait_for:
        port: 5432
        timeout: 5
      ignore_errors: true
      register: port_check

    - name: Verify postgres binary exists
      ansible.builtin.stat:
        path: /usr/bin/psql
      register: psql_binary
      failed_when: not psql_binary.stat.exists

    - name: Verify ufw is installed
      ansible.builtin.package:
        name: ufw
        state: present
      check_mode: true
      register: ufw_check
      failed_when: ufw_check.changed
