---
- name: Restart sshd
  ansible.builtin.systemd_service:
    name: ssh
    state: restarted

- name: Restart fail2ban
  ansible.builtin.systemd_service:
    name: fail2ban
    state: restarted

- name: Restart ufw
  ansible.builtin.systemd_service:
    name: ufw
    state: restarted

- name: Reload ufw
  ansible.builtin.command: ufw reload
  changed_when: true

- name: Restart auditd
  ansible.builtin.command: service auditd restart
  changed_when: true
