---
- name: Update and upgrade apt
  ansible.builtin.apt:
    clean: true
    autoremove: true
    update_cache: true
    cache_valid_time: 3600
    upgrade: "yes"

- name: Install packages
  ansible.builtin.apt:
    name: "{{ postgres_packages }}"
    state: present
    update_cache: true
