---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio
  namespace: argocd
spec:
  destination:
    namespace: istio-system
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: https://istio-release.storage.googleapis.com/charts
      targetRevision: v1.25.0
      chart: istiod
    - repoURL: https://istio-release.storage.googleapis.com/charts
      targetRevision: v1.25.0
      chart: base 
    - repoURL: https://istio-release.storage.googleapis.com/charts
      targetRevision: v1.25.0
      chart: cni 
    - repoURL: 'https://github.com/bobmaertz/home-ops.git'
      targetRevision: HEAD
      path: kubernetes/orion/manifests/infra/istio
  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
      name: istio-validator-istio-system
      jsonPointers:
        - /webhooks/0/failurePolicy
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
      name: istiod-default-validator
      jsonPointers:
        - /webhooks/0/failurePolicy
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
