---
- name: Disable swap in runtime
  become: true
  ansible.builtin.command: swapoff -a
  changed_when: false
  failed_when: false  # Allow to fail in containers where swap is not available

- name: Disable swap permanently
  become: true
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^([^#].*\s+swap\s+.*)$'
    replace: '# \1'

- name: Create /etc/modules-load.d/containerd.conf
  ansible.builtin.copy:
    dest: "/etc/modules-load.d/containerd.conf"
    mode: '0644'
    content: |
      overlay
      br_netfilter

- name: Create /etc/sysctl.d/kubernetes.conf
  ansible.builtin.copy:
    dest: "/etc/sysctl.d/kubernetes.conf"
    mode: '0644'
    content: |
      net.bridge.bridge-nf-call-ip6tables = 1
      net.bridge.bridge-nf-call-iptables = 1
      net.ipv4.ip_forward = 1
