---
- name: Disable swap in runtime
  become: true
  ansible.builtin.command: swapoff -a
- name: Disable swap permanently
  become: true
  ansible.builtin.shell: sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab
- name: Create /etc/modules-load.d/containerd.conf
  ansible.builtin.copy:
    dest: "/etc/modules-load.d/containerd.conf"
    content: |
      overlay
      br_netfilter

- name: Create /etc/sysctl.d/kubernetes.conf
  ansible.builtin.copy:
    dest: "/etc/sysctl.d/kubernetes.conf"
    content: |
      net.bridge.bridge-nf-call-ip6tables = 1
      net.bridge.bridge-nf-call-iptables = 1
      net.ipv4.ip_forward = 1
