---
- name: Update etc/containerd/config.yml - set SystemdCgroup = true
  become: true
  ansible.builtin.command: sudo sed -i 's/            SystemdCgroup = false/            SystemdCgroup = true/' /etc/containerd/config.toml
- name: Update containerd v1 cri sandbox_image from 3.8 to 3.10
  become: true
  ansible.builtin.command: sudo sed -i 's#    sandbox_image = "registry.k8s.io/pause:3.8"#    sandbox_image = "registry.k8s.io/pause:3.10"#'
    /etc/containerd/config.toml
- name: Restart containerd
  ansible.builtin.systemd_service:
    name: containerd.service
    state: restarted
