---
- name: Download Kubernetes package key
  ansible.builtin.get_url:
    url: "{{ k8common_k8s_url_apt_key }}"
    dest: /tmp/kubernetes-apt-key
    mode: '0644'

- name: Convert Kubernetes package key to GPG format
  ansible.builtin.command: gpg --dearmor -o {{ k8common_k8s_gpgpath }} /tmp/kubernetes-apt-key
  args:
    creates: "{{ k8common_k8s_gpgpath }}"

- name: Install Kubernetes repository
  ansible.builtin.apt_repository:
    filename: kubernetes
    repo: "deb [signed-by={{ k8common_k8s_gpgpath }}] {{ k8common_k8s_repository }} /"

- name: Remove conflicting packages
  ansible.builtin.apt:
    name: "{{ k8common_conflicting_packages }}"
    state: absent
    update_cache: true
  become: true

- name: Install required packages
  ansible.builtin.apt:
    name: "{{ k8common_packages }}"
    state: present
    update_cache: true
  become: true

- name: Hold specific packages to prevent upgrade
  ansible.builtin.dpkg_selections:
    name: kubeadm
    selection: hold
  become: true
