---
- name: Get Kubernetes package key
  ansible.builtin.shell: curl -fsSL {{ k8s_url_apt_key }} | gpg --dearmor -o {{ k8s_gpgpath }}
  args:
    creates: "{{ k8s_gpgpath }}"

- name: Install Kubernetes repository
  ansible.builtin.apt_repository:
    filename: kubernetes
    repo: "deb [signed-by={{ k8s_gpgpath }}] {{ k8s_repository }} /"

- name: Remove conflicting packages
  ansible.builtin.apt:
    name: "{{ conflicting_packages }}"
    state: absent
    update_cache: true
  become: true

- name: Install required packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
    update_cache: true
  become: true

- name: Hold specific packages to prevent upgrade
  ansible.builtin.dpkg_selections:
    name: kubeadm
    selection: hold
  become: true
