---
# Default packages to install on all nodes
general_packages:
  - vim
  - zsh
  - qemu-guest-agent
  - aide
  - aide-common
  - libpam-pwquality
  - libpam-tmpdir
  - needrestart
  - debsums
  - apt-show-versions
