---
- name: Verify
  hosts: all
  gather_facts: true
  tasks:
    - name: Verify general packages are installed
      ansible.builtin.package:
        name:
          - vim
          - zsh
          - qemu-guest-agent
        state: present
      check_mode: true
      register: package_check
      failed_when: package_check.changed

    - name: Verify fail2ban is installed
      ansible.builtin.package:
        name: fail2ban
        state: present
      check_mode: true
      register: fail2ban_check
      failed_when: fail2ban_check.changed

    - name: Verify sendmail is installed
      ansible.builtin.package:
        name: sendmail
        state: present
      check_mode: true
      register: sendmail_check
      failed_when: sendmail_check.changed

    - name: Verify ufw is installed
      ansible.builtin.package:
        name: ufw
        state: present
      check_mode: true
      register: ufw_check
      failed_when: ufw_check.changed

    - name: Check if fail2ban service exists
      ansible.builtin.systemd_service:
        name: fail2ban
      register: fail2ban_service
      failed_when: fail2ban_service.status.LoadState != 'loaded'
      ignore_errors: true

    - name: Verify vim binary exists
      ansible.builtin.stat:
        path: /usr/bin/vim
      register: vim_binary
      failed_when: not vim_binary.stat.exists

    - name: Verify zsh binary exists
      ansible.builtin.stat:
        path: /usr/bin/zsh
      register: zsh_binary
      failed_when: not zsh_binary.stat.exists

    - name: Verify sendmail binary exists
      ansible.builtin.stat:
        path: /usr/sbin/sendmail
      register: sendmail_binary
      failed_when: not sendmail_binary.stat.exists

    - name: Verify fail2ban binary exists
      ansible.builtin.stat:
        path: /usr/bin/fail2ban-client
      register: fail2ban_binary
      failed_when: not fail2ban_binary.stat.exists
