---
- name: Initialize the cluster
  become: true
  ansible.builtin.shell: kubeadm init --pod-network-cidr=10.244.0.0/16 >> cluster_initialized.txt
  args:
    chdir: /home/ubuntu
    creates: cluster_initialized.txt

- name: Create .kube directory
  ansible.builtin.file:
    path: /home/ubuntu/.kube
    state: directory
    mode: "0755"

- name: Copy admin.conf to user's kube config
  become: true
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/ubuntu/.kube/config # #TODO: fix user here.
    remote_src: true
    owner: ubuntu
    group: ubuntu
    mode: '0600'

- name: Add kubeconfig variable to bashrc
  ansible.builtin.lineinfile:
    path: /home/ubuntu/.bashrc
    line: "export KUBECONFIG=~/.kube/config"
