---
- name: Retrieve join url
  ansible.builtin.command: kubeadm token create --print-join-command
  register: k8control_join_output
  changed_when: false

- name: Copy the join command to a local file
  ansible.builtin.copy:
    content: "{{ k8control_join_output.stdout }}"
    dest: "./join.txt"
    mode: '0644'
  delegate_to: localhost
  become: true
  become_method: ansible.builtin.sudo
