---
- name: UFW - Allow connections for k8 control nodes
  community.general.ufw:
    rule: allow
    comment: "{{ item.name }}"
    proto: "{{ item.proto }}"
    to_port: "{{ item.port }}"
  loop: "{{ k8control_ufw_rules }}"
