---
- name: Update and upgrade apt
  ansible.builtin.apt:
    clean: true
    autoremove: true
    update_cache: true
    cache_valid_time: 3600
    upgrade: "yes"
  retries: 3
  delay: 5

- name: Install packages
  ansible.builtin.apt:
    name: "{{ general_packages }}"
    state: present
    update_cache: true
  retries: 3
  delay: 5
